<!DOCTYPE html>
<html>
  <head>
    <title>FBClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header> 
  // TODO create header
    <ul>
      <li><a href="#">xxxx</a></li>
      <li><a href="#">xxxx</a></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
